body {
    position: relative;
}

.ui {
    height: 100vh;
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    width: 100vw;
}

.ui-previous-state {
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
    display: inline-block;
    padding: 15px;
   position: absolute;
        bottom: 0;
        left: 0;
}

.ui-next-state {
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    position: absolute;
        bottom: 0;
        right: 0;
}